* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #353434;
}

header {
    background-color: #92d3c4;
    color: white;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center;
}


#menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

#menu > li {
    position: relative;
    padding: 14px 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6bb7a8;
    min-width: 180px;
    border-radius: 5px;
    flex-direction: column;
}

#menu > li:hover .submenu {
    display: flex;
}

.submenu p,
.submenu button {
    padding: 10px 15px;
    border: none;
    background: none;
    color: white;
    text-align: left;
    cursor: pointer;
}

.submenu p:hover,
.submenu button:hover {
    background-color: #5aa193;
}