* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #353434;
}

header {
    background-color: #92d3c4;
    color: white;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center;
}


#menu {
    list-style: none;
    display: flex;
    gap: 25px;
    position: relative;
}

#menu > li {
    float: left;
}

li p, .submenu {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}